<div class="flex flex-col w-full mb-3">
  <div class="flex justify-between items-center">
    <div class="tabs tabs-border tabs-lg text-primary">
      @for (tab of tabs(); track tab.label) {
        <button
          class="tab"
          [hidden]="tab.value === 'roles' && !hasAdminRole()"
          [class.tab-active]="tab.value === activeTab()"
          (click)="setActiveTab(tab.value)"
        >
          {{ tab.label }}
        </button>
      }
    </div>
  </div>
</div>
@if (activeTab() === 'photos') {
  <dating-photo-management />
} @else if (activeTab() === 'roles') {
  <dating-user-management />
}
