<div class="h[75vh] overflow-auto rounded-box border border-base-content/5 bg-base-100">
  <table class="table table-fixed w-full">
    <thead>
      <tr>
        <th>Email</th>
        <th>Active roles</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (user of userWithRoles(); track user.id) {
        <tr>
          <td>{{ user.email }}</td>
          <td>{{ user.role?.join(', ') }}</td>
          <td>
            <button class="btn btn-primary" (click)="openModal(user)">Edit roles</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

<dialog #rolesModal class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Edit Roles {{ selectedUser()?.email }}</h3>
    <fieldset class="fieldset w-full p-4 bg-base-100 border border-base-300 rounded-box">
      <legend class="fieldset-legend">Select Roles</legend>
      @for (role of availableRoles(); track $index) {
        <label class="fieldset-label">
          <input
            type="checkbox"
            class="checkbox"
            [checked]="selectedUser()?.role?.includes(role)"
            [disabled]="selectedUser()?.email === 'admin@test.com' && role === 'Admin'"
            (change)="toggleRole($event, role)"
          />
          <span class="label-text">{{ role }}</span>
        </label>
      }
    </fieldset>
    <div class="modal-action">
      <button class="btn btn-primary" (click)="updateRoles()">Submit</button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button class="btn" (click)="close()">Close</button>
  </form>
</dialog>
