<div class="flex flex-col w-full">
  <div class="flex justify-between items-center">
    <div class="flex gap-3 items-center">
      <button class="btn btn-primary" (click)="openModal()">Select Filters</button>
      <button class="btn btn-neutral" (click)="onResetFilter()">Reset Filters</button>
      <div class="flex p-3 border border-primary rounded-lg">
        {{generateMessage()}}
      </div>
    </div>
    @if (memberList()?.metadata; as metaData) {
      <dating-paginator
        [pageNumber]="metaData.currentPage"
        [pageSize]="metaData.pageSize"
        [totalCount]="metaData.totalCount"
        [pageCount]="metaData.totalPages"
        (pageChange)="onPageChange($event)"
      />
    }
  </div>
  <div class="grid grid-cols-5 gap-3 mt-3">
    @for (member of memberList()?.items; track $index) {
      <dating-member-card [member]="member" [likedIds]="likedIds()"
      [onlineUsers]="presenceService.onlineUsers()"
      (likeOutput)="handleLike($event)"
      />
    }
  </div>
</div>

<dating-filter-modal
#filterModal
[hidden]="!memberList()?.items"
(submitData)="onFilterChange($event)"
/>
